.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.sign-in-modal {
  position: absolute;
  width: 400px;
  height: 500px;

  top: 50%;
  transform: translateY(-50%);

  padding: 30px;
  border: 1px solid var(--dark-theme-form-control-border-color, black);
  border-radius: 20px;

  background-color: var(--dark-theme-bg, white);
  color: var(--dark-theme-navbar-text, black);
}
